<!-- HEADER -->
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oniet</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 

    <div class="ptable">
      <h1 class="headin">Standings</h1>
              <table class="table table-primary">
                <tr class="col">
                  <th>#</th>
                  <th>Empresa</th>
                  <th>Produccion Total</th>
                  <th>Cant. Piezas OK</th>
                  <th>Cant. Piezas Error</th>
                  <th>% Piezas OK</th>
                  <th>% Piezas Error</th>
                  
                </tr>
                {% for equipo in equipos%}
                <tr class="wpos">
                    <td>1</td>
                    <td>{{ empresa.nombre }}</td>
                    <td>{{empresa.produc_total}}</td>
                    <td>{{empresa.piezas_OK}}</td>
                    <td>{{empresa.piezas_error}}</td>
                    <td>{{empresa.porcentajes_OK}}</td>
                    <td>{{empresa.porcentahe_error}}</td>
                  </tr>
                {% endfor %}

              </table>
    </div>

     <footer class="bg-dark text-center text-white">
    <h4 class="text-uppercase fw-bold mb-4">
      <i class="bi bi-gem me-3 text-secondary"></i>Hecho por:
    </h4>
    <p>
      Trabajo realizado por estudiantes del colegio Instituto Tecnico Salesiano Villada
    </p>

    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Social media -->
      <section class="mb-3">
        <div class="row">
          <h4 class="text-uppercase fw-bold mb-4">Contactanos:</h4>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
          <!-- Links -->
          <p>
            <i class="bi bi-envelope me-3 text-secondary"></i>
            teo.abril10@gmail.com
          </p>
          <p>
            <i class="bi bi-envelope me-3 text-secondary"></i>
            orellanoj066@gmail.com
          </p>
          <p>
            <i class="bi bi-envelope me-3 text-secondary"></i>
            ignaciofillol05@gmail.com
          </p>
          <p>
            <i class="bi bi-envelope me-3 text-secondary"></i>
            lautarochialvo2005@gmail.com
          </p>
        </div>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      <span class="text-secondary">© 2020 Copyright:</span>
      <a class="text-white" href="https://mdbootstrap.com/">Grupo Oniet</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- FOOTER -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>